body, html{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family:serif;
}
.back{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    grid-template-columns: 0.6fr 1fr;
    grid-template-areas:
    "a b"
    "a c";
}
nav{
    width: 20%;
    height: 100%;
    background: #ff6e6c;
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 10%;
    position:fixed;
}
#head1,#head2,#head3,#head4{
    text-decoration:none;
    color: #1f1235;
    font-weight: bold;
    font-size: 20px;
}
#head1:link,#head2:link,#head3:link,#head4:link{
    color: #1f1235;;
}
#intro{
    display: flex;
    color: #1f1235;
    font-weight:bolder;
    margin-bottom: 0;
    grid-area: b;
    align-items: flex-end;
    font-size: 380%;
}
#quote{
    display: flex;
    color: #1b1425;
    flex-direction: column;
    margin-right: 68%;
    grid-area: c;
    font-size: 120%;
}
span{
    margin-left: 70%;
}

#head1:hover,#head2:hover,#head3:hover,#head4:hover{
    transition: 0.3s ease-in;
    background-color: #fbdd74;
    border-radius: 20%;
}
@media only screen and (max-device-width:800px){
    nav{
        position:fixed;
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    a{
        font-size: 1.2em;
    }
    .back{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #intro{
        margin-top: 40%;
        margin-left: 10%;
    }
    #quote{
        margin-left: 10%;
        margin-right: 40%;
    }
}
@media (max-width:800px){
    nav{
        position:fixed;
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    a{
        font-size: 1.2em;
    }
    .back{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #intro{
        margin-top: 40%;
        margin-left: 10%;
    }
    #quote{
        margin-left: 10%;
        margin-right: 40%;
    }
}